
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* border: 2px solid red; */
}

.close-icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.overlayBox {
  border: 1px solid white;
  background-color: rgb(123, 108, 108);
  width: 250px;
  padding: 20px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.option {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease;
  background-color: rgb(33, 31, 31);
}

.option:hover {
  background: #f0f0f0;
  color: black;
}

.done {
  font-weight: bold;
  text-align: center;
  background: #1c2128;
}

.selected {
  background: #52a65c;
  color: black;
}

.selectedRole {
  background: #52a65c;
}