* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
   width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-content {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000000;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-exo2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
