.wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  border-radius: 10px;
  background: #000000;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
}

.card h2 {
  margin-bottom: 20px;
  text-align: center;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.card input {
  padding: 10px;
  font-size: 16px;
}

.card button {
  padding: 10px;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2rem;
}

.error {
  color: red;
  font-size: 14px;
}
