.container{
    padding: 1.2rem;
    background-color: #CD8987;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar h1{
  font-size: 1rem;
}

.navBarOptionContainer {
  display: flex;
}

.buttonJoin {
  background: #CD8987;
  border-radius: 10px;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: bold;
}