.mainContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.mainHeading {
  border: 1px solid rgb(124, 0, 0);
  border-radius: 2rem;
  width: fit-content;
  padding: 1rem;
}

.membersContainer {
  border: 1px solid white;
  border-radius: 1.5rem;
  width: 70%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.memberOptions {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.memberOptions button {
  width: 6rem;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #ffffff;
  color: black;
}
